/* =======RESPONSIVE>>>(max-width: 992px)>>>>>>============ */
@media (max-width: 992px) {
    
    .content{
        margin-top: 9%;
    }
    .content h1 {
        font-size: 85px;
        line-height: 110px;
      }
    .nav-link{
        color: #fff;
        margin: 0 3px;
        font-size: 17px;
        font-weight: 500;
    }
}
/* =======RESPONSIVE>>>(max-width: 768px)>>>>>>============ */
@media (max-width: 768px) {
    
    .content{
        margin-top: 10%;
    }
    .content h1 {
        font-size: 75px;
        line-height: 100px;
      }
    .nav-top{
        margin-top: 20px;
    }
    nav .logo img{
        width: 60px;
        margin-right: 10px;
    }
    
}
/* =======RESPONSIVE>>>(max-width: 576px)>>>>>>============ */
@media (max-width: 576px) {
    
    .content{
        margin-top: 25%;
        align-items: center;
        justify-content: center;
    }
    .content h1 {
        font-size: 60px;
        line-height: 80px;
      }
    .content p {
        max-width: 350px;
        line-height: 28px;
        text-align: justify;
      }
    nav .logo img{
        width: 55px;
    }
}
/* =======RESPONSIVE>>>(max-width: 376px)>>>>>>============ */
@media (max-width: 376px) {
    
    .content{
        margin-top: 17%;
    }
    .content h1 {
        font-size: 50px;
        line-height: 70px;
      }
    .content p {
        max-width: 300px;
        margin-top: 10px;
        line-height: 28px;
        text-align: justify;
      }
      .links{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .btn{
          width: 200px;
          margin: 10px 5px;
      }
      nav span{
        font-size:18px;
        margin-left: 0px;
    }
}