.area{
	height: 300px;
	width: 300px;
	position: relative;
}

.card{
	height: 100%;
	width: 100%;
}

img{
	height: 100%;
	width: 100%;
}

.text{
	position: absolute;
	padding: 10px;
	box-sizing: border-box;
	text-align: justify;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 3, 179,0.5);
	color: #fff;
	transform: scale(0);
}

.area:hover .text{
	transform: scale(1);
	transition: 1s;
}